<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>
        <%= pageTitle%>
    </title>
</head>

<body>


    <div id="whiteNav">
        <%- include('./indexIncludes/navbar.ejs') %>
    </div>
    <!-- Services  -->
    <section id="image60Content40" style="margin-bottom: 70px;">

        <div class="content-image60Content40">
            <p class="smallP">
                About Us </p>
            <h1>Why We are the Best Clinic?</h1>
            <p>Experience the Best Plastic Surgery and Skincare Studio in Portland.
            </p>
        </div>
        <div class="image-image60Content40">

        </div>
    </section>

    <section class="container imageContentFlex">
        <div class="image-imageContentFlex">
            <img src="/Img/6.jpg" alt="">
        </div>
        <div id="leftPadding" class="content-imageContentFlex">
            <h1>Welcome to Pearl And Petal</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A sunt fuga eum sapiente soluta odit laudantium
                facilis ea doloribus ipsum aliquam nemo error quidem similique, voluptatem, accusamus ullam cumque
                delectus dolore officiis in suscipit? Fugiat blanditiis tempora dolorem adipisci in!</p>
        </div>
    </section>

    <section class="container imageContentFlex" style="height: fit-content;">
        <div id="rightPadding" class="content-imageContentFlex">
            <div>
                <h1>Our Story</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A sunt fuga eum sapiente soluta odit
                    laudantium
                    facilis ea doloribus ipsum aliquam nemo error quidem similique, voluptatem, accusamus ullam cumque
                    delectus dolore officiis in suscipit? Fugiat blanditiis tempora dolorem adipisci in!</p>
            </div>
            <div class="imageDiv-imageContentFlex">
                <img src="/Img/7.jpg" alt="">
                <img src="/Img/6.jpg" alt="">
            </div>
        </div>

        <div class="image-imageContentFlex">
            <img src="/Img/10.jpg" alt="">
        </div>
    </section>
    <div style="background-color: var(--lightPink);;">
        <section id="ownerAndProducts">
            <div id="ownerDetails">
                <img src="https://images.pexels.com/photos/12917343/pexels-photo-12917343.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="">
                <h1>Message From The Owner</h1>
                <p>Dear Customer,</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sequi sint, voluptates maiores similique
                    corrupti aperiam aliquam architecto enim fugiat excepturi tenetur recusandae. Iste delectus,
                    deserunt
                    neque vitae quaerat minima.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sequi sint, voluptates maiores similique
                    corrupti aperiam</p>
                <p>Regards,</p>
                <h3>Smith Martin</h3>
            </div>
            <div class="productsWeUse">
                <h1 class="" style="margin-top: 12px;">Products We Use</h1>
                <div id="productsWeUse">

                    <article id="imageHeadingDescription" class="">
                        <div>
                            <img src="https://images.pexels.com/photos/4841333/pexels-photo-4841333.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        </div>
                        <div>
                            <h4>Laser Remover Machine 1 name</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam
                                eaque
                                expedita, consequatur et dolor aliquid quasi?</p>
                            <p></p>
                        </div>
                    </article>
                    <article id="imageHeadingDescription" class="">
                        <div>
                            <img src="https://images.pexels.com/photos/11935661/pexels-photo-11935661.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        </div>
                        <div>
                            <h4>Laser Remover Machine 1 name</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam
                                eaque
                                expedita, consequatur et dolor aliquid quasi?</p>
                            <p></p>
                        </div>
                    </article>
                    <article id="imageHeadingDescription" class="">
                        <div>
                            <img src="https://images.pexels.com/photos/7863217/pexels-photo-7863217.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
                        </div>
                        <div>
                            <h4>Laser Remover Machine 1 name</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam
                                eaque
                                expedita, consequatur et dolor aliquid quasi?</p>
                            <p></p>
                        </div>
                    </article>
                    <article id="imageHeadingDescription" class="">
                        <div>
                            <img src="https://images.pexels.com/photos/4841333/pexels-photo-4841333.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        </div>
                        <div>
                            <h4>Laser Remover Machine 1 name</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam
                                eaque
                                expedita, consequatur et dolor aliquid quasi?</p>
                            <p></p>
                        </div>
                    </article>
                    <article id="imageHeadingDescription" class="">
                        <div>
                            <img src="https://images.pexels.com/photos/11935661/pexels-photo-11935661.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        </div>
                        <div>
                            <h4>Laser Remover Machine 1 name</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam
                                eaque
                                expedita, consequatur et dolor aliquid quasi?</p>
                            <p></p>
                        </div>
                    </article>
                    <article id="imageHeadingDescription" class="">
                        <div>
                            <img src="https://images.pexels.com/photos/7863217/pexels-photo-7863217.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
                        </div>
                        <div>
                            <h4>Laser Remover Machine 1 name</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam
                                eaque
                                expedita, consequatur et dolor aliquid quasi?</p>
                            <p></p>
                        </div>
                    </article>
      
                </div>
                <p style="font-family: var(font2);font-size: 18px; color:  #8d4d5d; text-align: right; margin-top: 15px;">Swipe <i
                    class="fa-solid fa-arrow-up"></i></p>
            </div>
        </section>
    </div>

    <section class="container imageContentFlex" style="height: fit-content;">
        <div class="content-imageContentFlex" style="width: 100%; padding-top: s0px;">
            <div>
                <h1>Machines We Use</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A sunt fuga eum sapiente soluta odit
                    laudantium
                    facilis ea doloribus ipsum aliquam nemo error quidem similique, voluptatem, accusamus ullam cumque
                    delectus dolore officiis in suscipit? Fugiat blanditiis tempora dolorem adipisci in!</p>
            </div>
            <div class="flexRowScroll animate__animated animate__fadeInLeft" style="margin-top: 20px;">


                <article id="imageHeadingDescription" class="">
                    <img src="/Img/3.jpg" alt="">
                    <h4>Laser Remover Machine 1 name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam eaque
                        expedita, consequatur et dolor aliquid quasi?</p>
                    <p></p>
                </article>
                <article id="imageHeadingDescription">
                    <img src="/Img/4.jpg" alt="">
                    <h4>Laser Remover Machine 1 name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam eaque
                        expedita, consequatur et dolor aliquid quasi?</p>
                    <p></p>
                </article>
                <article id="imageHeadingDescription">
                    <img src="/Img/6.jpg" alt="">
                    <h4>Laser Remover Machine 1 name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam eaque
                        expedita, consequatur et dolor aliquid quasi?</p>
                    <p></p>
                </article>
                <article id="imageHeadingDescription">
                    <img src="/Img/7.jpg" alt="">
                    <h4>Laser Remover Machine 1 name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam eaque
                        expedita, consequatur et dolor aliquid quasi?</p>
                    <p></p>
                </article>
                <article id="imageHeadingDescription">
                    <img src="/Img/8.jpg" alt="">
                    <h4>Laser Remover Machine 1 name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius earum aliquam quam eaque
                        expedita, consequatur et dolor aliquid quasi?</p>
                    <p></p>
                </article>

            </div>
            <p style="font-family: var(font2);font-size: 18px; color:  #8d4d5d; text-align: right;">Swipe <i
                    class="fa-solid fa-arrow-left"></i></p>
        </div>


    </section>

    <%- include('indexIncludes/formHome.ejs')%>


    <%- include('./indexIncludes/footer.ejs') %>

        <script>
            const questions = document.querySelectorAll('.dropDownQuestion');
            questions.forEach(question => {
                question.addEventListener('click', () => {
                    console.log(question)
                    question.nextElementSibling.classList.toggle('showAnswer')
                })
            })
        </script>
</body>

</html>