<section class="container contactFormHome" style="margin-bottom: 60px;">
    <div class="">
        <p style="text-align: center; color: var(--gray); margin-bottom: 13px;" class="smallP">We will reach you
            within 24 Hours
        </p>
        <h3
            style="font-family: var(--font2); font-size: 38px; letter-spacing: 1px; font-weight: 400;text-align: center;  color: #333; ">
            Fill this form to get a free quote and book an appointment today
        </h3>
        <br>
        <br>
        <br>
        <form action="">

            <div class="formInputs">
                <div>
                    <label for="">Your Name <span>*</span></label><br>
                    <input type="text" placeholder="Your Name">
                </div>
                <div>
                    <label for="">Your Phone <span>*</span></label><br>
                    <input type="text" placeholder="Your Phone">
                </div>
            </div>
            <div class="formInputs">
                <div>
                    <label for="">Email <span>*</span></label><br>
                    <input type="Email" placeholder="john@gmail.com">
                </div>
                <div>
                    <label for="">Select Treatment <span>*</span></label>
                    <br>
                    <select name="" id="">

                        <option value="Laser Treatment" disabled selected>Select Treatment</option>
                        <option value="Laser Treatment">Laser Treatment</option>
                        <option value="Laser Treatment">Anti-Aging & Scars Treatment</option>
                        <option value="Laser Treatment">
                            3D IPL Service</option>
                        <option value="Laser Treatment">Chemical Peels (MD)</option>
                    </select>
                </div>

            </div>
            <div>
                <label for="">Your Query</label><br>
                <textarea name="" id="" cols="30" rows="6" placeholder="Write Down Your Query"></textarea>
            </div>

            <div>
                <button class="btn btnLightPink" type="submit">Send Message</button>
            </div>
        </form>
    </div>
</section>