
<div class="grid grid400" style="grid-gap:25px">
    <article style="background: url(../Img/laser.jpg) center center/cover no-repeat;">
        <div class="overlay"></div>
        <div>
            <p class="smallP">Advanced Laser Treatments</p>
            <a href="/">
                <h1 style="font-family: var(--font2);margin-bottom: 18px;">Laser Hair Removal</h1>
            </a>
        </div>
        <div style="margin-bottom: 14px; z-index: 2;position: relative;">
            <h1
                style="font-size: 20px;border-left: 6px solid white;padding-left: 10px;padding-bottom: 10px;border-bottom: 6px solid white;width: 100px;">
                Starting <span style="color: var(--lightPink); font-size: 35px;">$75</span></h1>
            <br><br>
            <a class="btn btnTransparent" href="/serviceDetails">View Details</a>
        </div>
    </article>
    <article style="background: url(../Img/4.jpg) center center/cover no-repeat;">
        <div class="overlay"></div>
        <div>
            <p class="smallP">Revitalize Your Skin</p>
            <a href="/">
                <h1 style="font-family: var(--font2);margin-bottom: 18px;">3D IPL Service</h1>
            </a>
        </div>
        <div style="margin-bottom: 14px; z-index: 2;position: relative;">
            <h1
                style="font-size: 20px;border-left: 6px solid white;padding-left: 10px;padding-bottom: 10px;border-bottom: 6px solid white;width: 100px;">
                Starting <span style="color: var(--lightPink); font-size: 35px;">$200</span></h1>
            <br><br>
            <a class="btn btnTransparent" href="/serviceDetails">View Details</a>
        </div>
    </article>
    <article style="background: url(../Img/5.jpg) center center/cover no-repeat;">
        <div class="overlay"></div>
        <div>
            <p class="smallP">Turn Back the Clock</p>
            <a href="/">
                <h1 style="font-family: var(--font2);margin-bottom: 18px;">Anti-Aging & Scars Treatment</h1>
            </a>

        </div>
        <div style="margin-bottom: 14px; z-index: 2;position: relative;">
            <h1
                style="font-size: 20px;border-left: 6px solid white;padding-left: 10px;padding-bottom: 10px;border-bottom: 6px solid white;width: 100px;">
                Starting <span style="color: var(--lightPink); font-size: 35px;">$299</span></h1>
            <br><br>
            <a class="btn btnTransparent" href="/serviceDetails">View Details</a>
        </div>
    </article>
    <article style="background: url(../Img/6.jpg) center center/cover no-repeat;">
        <div class="overlay"></div>
        <div>
            <p class="smallP">Restore Your Glow</p>
            <a href="/">
                <h1 style="font-family: var(--font2);margin-bottom: 18px;">Chemical Peels (MD)</h1>
            </a>

        </div>
        <div style="margin-bottom: 14px; z-index: 2;position: relative;">
            <h1
                style="font-size: 20px;border-left: 6px solid white;padding-left: 10px;padding-bottom: 10px;border-bottom: 6px solid white;width: 100px;">
                Starting <span style="color: var(--lightPink); font-size: 35px;">$90</span></h1>
            <br><br>
            <a class="btn btnTransparent" href="/serviceDetails">View Details</a>
        </div>
    </article>
    <article style="background: url(../Img/3.jpg) center center/cover no-repeat;">
        <div class="overlay"></div>
        <div>
            <p class="smallP">Indulge in Luxury</p>
            <a href="/">
                <h1 style="font-family: var(--font2);margin-bottom: 18px;">Skin Deep Cleaning OxyGeneo Super
                    Facial</h1>
            </a>
        </div>
        <div style="margin-bottom: 14px; z-index: 2;position: relative;">
            <h1
                style="font-size: 20px;border-left: 6px solid white;padding-left: 10px;padding-bottom: 10px;border-bottom: 6px solid white;width: 100px;">
                Starting <span style="color: var(--lightPink); font-size: 35px;">$185</span></h1>
            <br><br>
            <a class="btn btnTransparent" href="/serviceDetails">View Details</a>
        </div>
    </article>
    <article style="background: url(../Img/8.jpg) center center/cover no-repeat;">
        <div class="overlay"></div>
        <div>
            <p class="smallP">Feel Confident Again</p>
            <a href="/">
                <h1 style="font-family: var(--font2);margin-bottom: 18px;">Skin Tags Removal</h1>
            </a>

        </div>
        <div style="margin-bottom: 14px; z-index: 2;position: relative;">
            <h1
                style="font-size: 20px;border-left: 6px solid white;padding-left: 10px;padding-bottom: 10px;border-bottom: 6px solid white;width: 100px;">
                Starting <span style="color: var(--lightPink); font-size: 35px;">$100</span></h1>
            <br><br>
            <a class="btn btnTransparent" href="/serviceDetails">View Details</a>
        </div>
    </article>


</div>