<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>
        <%= pageTitle%>
    </title>
</head>

<body>


    <div id="whiteNav">
        <%- include('./indexIncludes/navbar.ejs') %>
    </div>

    <section id="carouselContentBottomLeft">
        <section class="catchyContentCarousel2">
            <p>ENHANCE YOUR NATURAL GLOW</p>
            <p>Experience the Best Services At Our <br> Skincare Studio in Ontario.
            </p>
        </section>
    </section>
    <section id="popularServices" class="container">
        <h1 class="headingCenter">
            Our Services</h1>
        <br><br>
        <%- include('./indexIncludes/services.ejs')%>
    </section>

    <%- include('./indexIncludes/footer.ejs') %>
</body>

</html>