<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>
        <%= pageTitle%>
    </title>
</head>

<body>


    <div id="whiteNav">
        <%- include('./indexIncludes/navbar.ejs') %>
    </div>

    <!-- Services  -->
    <section id="image60Content40">
        <div class="image-image60Content40">

        </div>
        <div class="content-image60Content40">
            <p class="smallP">
                LASER TREATMENTS </p>
            <h1>Laser Hair Removal</h1>
            <p>Laser hair removal is a medical procedure that uses a concentrated beam of light (laser) to remove
                unwanted hair.
            </p>
        </div>
    </section>
    <!-- About Service -->
    <section class="container flexColumn textCenter aboutService">
        <h1>
            About Laser Hair Removal
        </h1>
        <p> I enjoy getting to know my patients and building meaningful relationships. I understand that each person is
            unique and that they have diverse cultural backgrounds, so I strive to actively listen and empower them to
            be an advocate for the health and wellness goals that are important to them. I’m dedicated to providing
            compassionate and individualized care by providing patient education and practicing evidence-based medicine.
            I’m passionate about practicing preventive medicine and helping my patients manage acute and chronic health
            conditions, mental health, and overall well-being.
            <br> <br>
            I find joy by doing almost any outdoor activity, including hiking, running, and exploring with our
            furbabies. I enjoy spending time with family and friends. I also strive to live mindfully and intentionally
            by creating uplifting routines and relaxing rituals.

        </p>
    </section>

    <section id="packages" class="container">
        <div class="packages">
            <p>Book 3 sessions and get 5% OFF</p>
            <p>Book 5 sessions and get 10% OFF</p>
            <p>Book 8 sessions and get 20% OFF</p>
        </div>
    </section>

    <!-- Prices  -->
    <section id="servicePrices" class="container">
        <div>
            <table>
                <tr>
                    <th>Service</th>
                    <th>Price $</th>
                </tr>
                <tr>
                    <td>Full Legs</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>Half Legs</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>Full Hands</td>
                    <td>125</td>
                </tr>
                <tr>
                    <td>Half Arms</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>Chest</td>
                    <td>90</td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <th>Service</th>
                    <th>Price $</th>
                </tr>
                <tr>
                    <td>Full Legs</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>Half Legs</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>Full Hands</td>
                    <td>125</td>
                </tr>
                <tr>
                    <td>Half Arms</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>Chest</td>
                    <td>90</td>
                </tr>
            </table>
        </div>

    </section>



    <!-- How It Works-->
    <div class="howItWorks">

        <section id="image60Content40">
            <div class="image-image60Content40">
            </div>
            <div class="content-image60Content40">

                <h1>How It Works ?</h1>
                <div class="dropDown">
                    <div class="dropDownQuestion flexRow alignItemsCenter justifySpaceBetween ">
                        <h3>Maximum Efficiency</h3> <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam enim maxime, doloribus voluptatem
                        cum quisquam impedit quia temporibus! Maiores, eum! Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Illum repellat fugiat voluptatem quo culpa doloribus rerum quisquam vitae odio
                        deserunt.</p>
                </div>
                <div class="dropDown">
                    <div class="dropDownQuestion flexRow alignItemsCenter justifySpaceBetween ">
                        <h3>The Comfort Of The Procedure</h3> <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam enim maxime, doloribus voluptatem
                        cum quisquam impedit quia temporibus! Maiores, eum! Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Illum repellat fugiat voluptatem quo culpa doloribus rerum quisquam vitae odio
                        deserunt.</p>
                </div>
                <div class="dropDown">
                    <div class="dropDownQuestion flexRow alignItemsCenter justifySpaceBetween ">
                        <h3>Persistent Effect Up To 6 Months</h3> <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam enim maxime, doloribus voluptatem
                        cum quisquam impedit quia temporibus! Maiores, eum! Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Illum repellat fugiat voluptatem quo culpa doloribus rerum quisquam vitae odio
                        deserunt.</p>
                </div>
                <div class="dropDown">
                    <div class="dropDownQuestion flexRow alignItemsCenter justifySpaceBetween ">
                        <h3>Certified Drug Safety
                        </h3> <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam enim maxime, doloribus voluptatem
                        cum quisquam impedit quia temporibus! Maiores, eum! Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Illum repellat fugiat voluptatem quo culpa doloribus rerum quisquam vitae odio
                        deserunt.</p>
                </div>

            </div>
        </section>
    </div>

    <!-- Offer -->
    <section id="imageContentSquarFlex">
        <div class="image-imageContentSquarFlex">

        </div>
        <div class="content-imageContentSquarFlex">
            <p class="smallP">
                FREE CONSULTATION
            </p>
            <h1>Get Complete Facial Plastic Surgery Save 15%</h1>
            <p>Reconstructive surgery is often considered medically necessary and may be covered by health insurance.
            </p>
            <div style="margin: 20px 0;">
                <a class="btn btnPink" href="/">Find Out More</a>
            </div>
        </div>
    </section>
    <div id="faq" class="howItWorks" style="height: fit-content; ">

        <section id="image60Content40" class="container alignItemsCenter"
            style="text-align: center;  border-radius: 20px; height: fit-content; max-width: 1250px;">

            <div style="width: 100%; background-color: white; " class="content-image60Content40">

                <h1 style="color: #333;">How It Works ?</h1>


                <div class="dropDown" style="border-color: gainsboro;">
                    <div class="dropDownQuestion flexRow alignItemsCenter justifySpaceBetween ">
                        <h3 style="color: black;">How much time does this treatment take ?</h3> <i style="color: #333;"
                            class="fa-solid fa-caret-down"></i>
                    </div>
                    <p style="text-align: left; color: rgb(145, 144, 144);">Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Totam enim maxime, doloribus voluptatem
                        cum quisquam impedit quia temporibus! Maiores, eum! Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Illum repellat fugiat voluptatem quo culpa doloribus rerum quisquam vitae odio
                        deserunt.</p>
                </div>

                <div class="dropDown" style="border-color: gainsboro;">
                    <div class="dropDownQuestion flexRow alignItemsCenter justifySpaceBetween ">
                        <h3 style="color: black;">How much time does this treatment take ?</h3> <i style="color: #333;"
                            class="fa-solid fa-caret-down"></i>
                    </div>
                    <p style="text-align: left; color: rgb(145, 144, 144);">Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Totam enim maxime, doloribus voluptatem
                        cum quisquam impedit quia temporibus! Maiores, eum! Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Illum repellat fugiat voluptatem quo culpa doloribus rerum quisquam vitae odio
                        deserunt.</p>
                </div>

                <div class="dropDown" style="border-color: gainsboro;">
                    <div class="dropDownQuestion flexRow alignItemsCenter justifySpaceBetween ">
                        <h3 style="color: black;">How much time does this treatment take ?</h3> <i style="color: #333;"
                            class="fa-solid fa-caret-down"></i>
                    </div>
                    <p style="text-align: left; color: rgb(145, 144, 144);">Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Totam enim maxime, doloribus voluptatem
                        cum quisquam impedit quia temporibus! Maiores, eum! Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Illum repellat fugiat voluptatem quo culpa doloribus rerum quisquam vitae odio
                        deserunt.</p>
                </div>
                <div class="dropDown" style="border-color: gainsboro;">
                    <div class="dropDownQuestion flexRow alignItemsCenter justifySpaceBetween ">
                        <h3 style="color: black;">How much time does this treatment take ?</h3> <i style="color: #333;"
                            class="fa-solid fa-caret-down"></i>
                    </div>
                    <p style="text-align: left; color: rgb(145, 144, 144);">Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Totam enim maxime, doloribus voluptatem
                        cum quisquam impedit quia temporibus! Maiores, eum! Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Illum repellat fugiat voluptatem quo culpa doloribus rerum quisquam vitae odio
                        deserunt.</p>
                </div>
            </div>
        </section>
    </div>

    <br>
    <br>
    <br>
    <br>
    <%- include('./indexIncludes/footer.ejs') %>

        <script>
            const questions = document.querySelectorAll('.dropDownQuestion');
            questions.forEach(question => {
                question.addEventListener('click', () => {
                    console.log(question)
                    question.nextElementSibling.classList.toggle('showAnswer')
                })
            })
        </script>
</body>

</html>