<!-- Dashboard Navbar -->
<section id="dashboardNav" class="">
    <div>
        <button class="dashboardMenuBtn"><i class="fa-solid fa-list"></i></button>
        <a class="dashboardLogo" href="/"> <img src="/Img/logo.png" alt=""></a>
    </div>
    <ul class="flexRow alignItemCenter">
        <li>Rita<i class="fa-solid fa-user"></i></li>
    </ul>

</section>