<footer style="margin-top: 50px;">
    <section>
        <div class="">
            <img src="/Img/logo.png" alt="">
        </div>
        <div>
            <div>
                <h1>Address</h1>
                <p>11 J 62th Street, 1C, Toronto, <br> Tr 10065</p>
                <p>Mon-Fri: 9am – 5pm;<br> Sat: By Appointment Only</p>
            </div>
            <div>
                <h1>Say Hello</h1>
                <p class="flexRow alignItemsCenter justifyContactCenter" style="gap: 10px;"><i
                        style="color: var(--primary-color); font-size: 25px;" class="fa-solid fa-envelope"></i>
                    &nbsp;
                    Pearl&Petal@gmail.com</p>
                <p class="flexRow alignItemsCenter justifyContactCenter" style="gap: 10px;"><i
                        style="color: var(--primary-color); font-size: 25px;" class="fa-solid fa-phone"></i>
                    &nbsp;
                    +1 1111
                    2222</p>
                <div class="flexRow socialMediaIcons" style="gap: 15px;">
                    <a href=""> <i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""> <i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Gallery</a></li>
        </ul>
        <p>Pearl and Petal &copy; All Rights Reserved</p>
    </section>
</footer>


<script src="/Js/navbar.js"></script>