<section id="headerNav">
    <p class="">Up to 80% OFF Laser hair removal | Facial Starting At $99</p>
    <div class="">
        <div class="flexRow">
            <p class="flexRow alignItemsCenter" style="margin-right: 25px;"><i class="fa-solid fa-phone"></i> +1
                1111
                1111</p>
            <p class="flexRow alignItemsCenter"><i class="fa-solid fa-location-dot"></i> 34, Mooregate,
                Kitchener
            </p>
        </div>
    </div>
</section>