<!-- Mobile Navbar Open Button -->
<section id="mobileNav" class="mobileOnly">
    <img src="/Img/logo.png" alt="">
    <button class="openBtn mobileOnly"><i class="fa-solid fa-bars"></i></button>
</section>

<!-- Computer Navbar -->
<nav id="navbar">
    <div id="openBtn" class="">
        <button class="closeBtn mobileOnly"><i class="fa-solid fa-xmark"></i></button>
    </div>


    <div class="logo">
        <img src="./img/logo.png" alt="">
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services
                <!-- <i class="fa-solid fa-caret-down"></i> -->
            </a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="flexRow alignItemsCenter">
        <p class="phoneNumber" style="letter-spacing: 2px; font-size: 16px; color: rgb(0, 0, 0);font-family: var(--font); font-weight: bold;">+1 345 233 2222</p>
        <button style="margin-right: 30px;" class="searchButton "><i class="fa-solid fa-magnifying-glass"></i></button>
        <a class="btn btnLightPink" href="/">Book A Visit</a>
    </div>
</nav>